body {
    background-color: #d4d4d4;
}

.navbar {
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
}

nav.navbar {
  background-color: #005bae;  
}

nav.navbar .navbar-brand,
nav.navbar .nav-link {
  color: #ffffff;           
}

nav.navbar .nav-link:hover {
  color: #ffdd00;            
}


.btn-sonora {
  background-color: #005bae;  
  color: #fff;                
  border: none;
}
.btn-sonora:hover {
  background-color: #004494; 
}
